.section_wrapper_grid {
  width: 90%;
  height: 600px;
  margin: auto;
}

.section_wrapper_grid .section_container {
  width: 90%;
  height: 100px;
  margin: auto;
  justify-content: space-between;
  display: grid;
}
