.navbar_container {
  width: 100%;
  height: 10vh;
  background: white;
  border-bottom: 1px solid lightgray;
}

.navbar_container .list_content {
  display: flex;
  margin-left: 100px;
  position: relative;
  top: -60px;
}

.navbar_container .nav_logo_wrapper {
  margin: 20px;
}

.navbar_container .list_content li {
  margin-left: 20px;
  margin-right: 10px;
}

.navbar_container .list_content li a {
  color: black;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.navbar_container .list_content li a:hover {
  color: var(--green-shade-color);
}

.navbar_container .nav_menu_button {
  display: flex;
  margin: 20px;
  position: relative;
  top: -105px;
  justify-content: space-between;
  margin-left: 84%;
}
