/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/home.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.home_section_wrapper_grid__JV3tN {
  width: 90%;
  height: 600px;
  margin: auto;
}

.home_section_wrapper_grid__JV3tN .home_section_container__Cw8XY {
  width: 100%;
  height: 400px;
  margin: auto;
  justify-content: space-between;
  display: grid;
}

.home_seciton_wrapper_grid__sVVbh .home_section_container__Cw8XY .home_section_content_wrapper__utkNV {
  background: var(--white-color-fade);
  border: 1px solid var(--white-color-fade);
  box-shadow: 1px 1px black;
  width: 60vh;
  height: 60vh;
  border-radius: 2px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 40px;
}

.home_seciton_wrapper_grid__sVVbh .home_section_container__Cw8XY .home_section_content_wrapper__utkNV h1 {
  margin-top: 15%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.home_seciton_wrapper_grid__sVVbh .home_section_container__Cw8XY .home_section_content_wrapper__utkNV p {
  letter-spacing: 2px;
}

.home_section_wrapper_grid__JV3tN .home_section_container__Cw8XY .home_section_content_wrapper__utkNV {
}

.home_section_wrapper_grid__JV3tN .home_section_container__Cw8XY img {
}

