/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/home.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.home_section_wrapper_grid__JV3tN {
  width: 90%;
  height: 600px;
  margin: auto;
}

.home_section_wrapper_grid__JV3tN .home_section_container__Cw8XY {
  width: 90%;
  height: 100px;
  margin: auto;
  justify-content: space-between;
  display: grid;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/Card/card.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.card_card_container__jjTnK {
  width: 80%;
  height: 70vh;
  background-color: #eb81a5;
  display: flex;
  margin: auto;
  position: relative;
  top: 30px;
  border: 1px solid black;
}

.card_card_container__jjTnK .card_card_content__2NhXT {
  display: flex;
}

.card_card_container__jjTnK .card_card_content__2NhXT .card_card_content_info__bkYfF {
  text-align: center;
  margin-top: 80px;
}

.card_card_container__jjTnK .card_card_content__2NhXT .card_card_content_info__bkYfF h1 {
  font-size: 40px;
  padding: 10px;
  color: var(--text-color-fade);
}
.card_card_container__jjTnK .card_card_content__2NhXT .card_card_content_info__bkYfF p {
  font-size: 17px;
  letter-spacing: 1px;
  color: var(--text-color-fade);
  line-height: 25px;
}

.card_card_container__jjTnK .card_card_content__2NhXT .card_banner_image__BPQF4 {
  display: inline-flex;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/Button/button.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.button_button__w09S0 {
  width: 100px;
  height: 30px;
  border-radius: 100px;
  border: none;
  list-style-type: none;
  background: var(white);
}

.button_button__w09S0:hover {
  background: black;
  color: white;
}

